{% extends "header_footer.html" %}
{% block head %}
    {{ super() }}
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/fileupload.js')}}"></script>
{% endblock %}
{% block content %}
   <div class="mx-auto col-10 col-md-8 col-lg-6">
            <div class="card text-center mt-5">
              <div class="card-header">
                  <h1>File Share</h1>
                  <a href="{{ url_for('filelist') }}" class="btn btn-link text-decoration-none"
                     aria-disabled="true" data-bs-toggle="tooltip" data-bs-placement="right"
                     title="Select a Folder to share Files.">Downloads</a>
              </div>
              <div class="card-body">
                  <form style="text-align: center;" class="form-group" action="{{ url_for('upload') }}" enctype="multipart/form-data" method="POST">
                    <input type="file" id="fileInput" name="files[]" class="form-control" multiple><br>
                    <input type="submit" value="Upload" class="btn btn-primary">
                  </form>
                  <br>
                  <div id="progressContainer">
                   <!-- Progress bars will be dynamically added here -->
                  </div>
                  <br>
                  <img src="{{ url_for('generate_qrcode', url=url_for('index', _external=True)) }}" alt="QR Code">
                  <p>Scan the above QR code with your device to access the URL.</p>
              </div>
            </div>
            <div id="modalDialog" />
   </div>
{% endblock%}
{% block footer%}
   {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
{% endblock%}
